@page
@model aspnet_core_dotnet_core.Pages.diceModel
@{
    ViewData["Title"] = "Dice - Game of Chance";
}
<div class="card text-center">
    <div class="card-header">
        Dice Games
    </div>
    <div class="card-body">
        <h5 class="card-title">Craps</h5>
        <p class="card-text">Play this old school dice game. Have fun!</p>
        <a asp-area="" asp-page="/Craps" class="btn btn-primary">Play Now</a>
    </div>
    <div class="card-footer text-muted">
        Last day played...
    </div>
</div>