@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - Game of Chance";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="https://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20ASP.net%20website%20on%20%40Azure%20using%20%40GitHub&hashtags=GitHubWorkflow">
                <img src="~/images/tweetThis.svg" />
            </a>            
        </div>
        <div class="content-body">
            <div class="success-text">Games of Chance!</div>
            <div class="description line-1"> Both card games and dice games</div>
            <div class="description line-2"> Play them all</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started right away </h2>
        <p>
            Pick your game and have fun. 
        </p>
        <p><a class="btn btn-default" href="https://gameofchance.azurewebsites.net/About">About Our Games&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dice Games</h2>
        <p>Play your favorite dice games</p>
        <p><a class="btn btn-default" asp-area="" asp-page="/Dice" asp->Dice Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Card Games</h2>
        <p>Play your favorite card games</p>
        <p><a class="btn btn-default" href="#">Card Games &raquo;</a></p>
    </div>
</div>


